html, body {
	font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
	height: 90%;
}

.map-navbar {
	margin-bottom: 0px;
}

.side-bar {
	float: left;
	width: 15%;
	overflow-y: scroll;
	resize: none;
	height: 90%;
}

/*.metro-station-filter {
	float: letf;
}*/

.metro-station-title {
	text-align: center;
}

/*.metro-stations {}*/